<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.compubase.mhmd.digitalatlas">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GALLERY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.compubase.mhmd.digitalatlas.Regestration" />
        <activity android:name="com.compubase.mhmd.digitalatlas.SignIn" />
        <activity android:name="com.compubase.mhmd.digitalatlas.ForgetPassword" />
        <activity android:name="com.compubase.mhmd.digitalatlas.MainActivity" />
        <activity android:name="com.compubase.mhmd.digitalatlas.AdminMain"/>
        <activity android:name=".Sample1Activity"/>
        <activity android:name=".Sample2Activity"/>
        <activity android:name=".Document"/>
        <activity android:name=".Addfinging1ByAdmin"/>
        <activity android:name=".AddMessageActivity"/>
        <activity android:name=".ReviewerActivty"/>
        <activity android:name=".DetailsActivity"/>
        <activity android:name=".Admin_Notifications"/>


    </application>

</manifest>